.toy-list {

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
    justify-content: center;
    gap: 1.5em;

    padding-block: 1em 2em;


    li {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background-color: var(--clr2bg);
        padding: 0.65em;
        height: 40vh;

        border-radius: 1em;

        &:hover {
            transform: scale(1.05);
        }

        transition: transform 0.2s ease;
        /* width: 200px; */
    }
}